{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    {%block css%} {%endblock%}
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">TECHSTORE</div>
            <div class="nav-search">
                <span class="nav-search-icon">🔍</span>
                <input type="text" id="navSearch" placeholder="Search products">
            </div>
            <div class="nav-actions">
                <a href="#" class="nav-link">
                    <span>❤</span> WISHLIST
                </a>
                <a href="{%url 'users:cart_view' %}" class="nav-link cart-icon">
                    <span>🛒</span> CART
                    <span class="cart-badge">{{request.session.cart_item_count}}</span>
                </a>
                <!-- {%if request.user.is_superuser%}
                <a class="admin-btn" href="{%url 'admin:index'%}"> ADMIN</a>
                {%elif request.user.is_authenticated%}
                <button class="admin-btn" id="adminToggle">{{request.user.username}}</button>
                {%else%}
                <a class="admin-btn" href="{%url 'users:login'%}"></a>
                {%endif%} -->

                {%if request.user.is_authenticated%}
                    {%if request.user.is_superuser%}
                        <a class="admin-btn" href="{%url 'admin:index'%}"> ADMIN</a>
                    {%else%}
                        <button class="admin-btn" id="adminToggle">{{request.user.username}}</button>
                    {%endif%}
                        <a class="admin-btn" href="{%url 'users:logout'%}">LOGOUT</a>
                {%else%}
                    <a class="admin-btn" href="{%url 'users:register'%}">REGISTER</a>
                    <a class="admin-btn" href="{%url 'users:login' %}">LOGIN</a>
                {%endif%}
            </div>
        </div>
    </nav>

    {%block content%}
     
    {%endblock%}
{%block js%}
{%endblock%}
<script src="{%static 'js/base.js' %}"></script>
</body>
</html>